.pieceout {
  .ant-col-24 {
    margin-top: 30px;
  }
  .title {
    font-size: 20px;
    padding: 15px 16px;
    font-weight: normal;
    color: #333;
  }
  .list{
    background: #ffffff !important;
    margin: 0 17px;
    padding-top: 16px;
    border-radius: 4px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.072);
    border: 1px solid #e5e9e8;
  }
}
