/**
 * Created by xiaolb on 2017/10/9.
 */
.piecein {
  .ant-btn.ant-btn-lg {
    font-size: 20px;
    width: 300px;
    height: 50px;
  }
  .title {
    font-size: 20px;
    padding: 15px 16px;
    font-weight: normal;
    color: #333;
  }
  .ant-select-auto-complete.ant-select .ant-select-selection__placeholder {
    top: 50%;
  }
  .list {
    background: #ffffff !important;
    margin: 0 17px;
    border-radius: 4px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.072);
    border: 1px solid #e5e9e8;
    .ant-row.ant-form-item {
      display: flex;
      input {
        border-radius: 1px;
      }
      .ant-select-selection__rendered {
        border-radius: 1px;
      }
    }
    .list_tab {
      height: 60px;
      width: 100%;
      background: rgba(255,216,0,0.10);
      font-size: 14px;
      color: #FF4444;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }
    .ant-spin-container {
      display: flex;
      justify-content: center;
    }
    .ant-form.ant-form-horizontal {
      width: 70%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      input,label,.ant-select-selection__placeholder,.ant-select-selection-selected-value {
        //font-size: 16px;
      }
    }
    .detailPage_formitem {
      display: flex;
      justify-content: center;
      margin-top: 8px;
    }
  }
}
